h1 {
    color: rgb(34, 34, 34);
    
        border: 5px solid rgb(255, 187, 0);
      
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(255, 75, 4);
    display: flex;
    justify-content: space-between;
    border: 5px dotted green;
}
div{
    border: double;
}
.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body { 
    background-color:#f85586

    
}








}